In [2]:
import pandas as pd

In [2]:
df = pd.read_csv('./tranco.csv')

In [3]:
dfc = df.head(100000)

In [4]:
dfc.to_csv('./tranco_100k.csv', index=False)

In [3]:
df2 = pd.read_csv('./tranco_100k.csv')

In [5]:
df2[df2.iloc[:, 1].str.contains('wiki', na=False, case=False)]

           1     google.com
29        31  wikipedia.org
270      272  wikimedia.org
1013    1015    wikihow.com
1092    1094  wikipedia.com
1319    1321      namu.wiki
...      ...            ...
95784  95786   basahin.wiki
96978  96980    tvwiki7.com
96979  96981    tvwiki9.com
98844  98846      xwiki.com
99288  99290    ssbwiki.com

[144 rows x 2 columns]